* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green-dark: #015F43;
  --green: #00875F;
  --green-light: #00B37E;
  --red-dark: #AA2834;
  --red: #F75A68;
  --background: #121214;
  --shape-principal: #202024;
  --shape-secundaria: #29292E;
  --shape-terciario: #323238;
  --placeholder: #7C7C8A;
  --text-base: #C4C4CC;
  --title: #E1E1E6;
}

body {
  width: 100vw;
  background: var(--shape-principal);
  color: var(--text-base);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

header {
  height: 200px;
  padding: 2.5rem;
  background: var(--background);
}

.content-logo {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.title strong {
  font-style: normal;
  font-weight: 700;
  font-size: 25.5853px;
  line-height: 160%;
}

.icons {
  font-size: 2rem;
}

.ph-arrow-circle-up {
  color: var(--green);
}

.ph-arrow-circle-down {
  color: var(--red);
}

.ph-currency-dollar {
  color: white;
}

.btn {
  width: 152px;
  height: 50px;
  border: none;
  border-radius: 6px;
  background: var(--green);
  color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.7;
}

.card-group {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  gap: 1rem;
}

.card-group .card:last-child {
  background: var(--green-dark);
}

.card {
  min-width: 300px;
  width: 300px;
  height: 150px;
  background: var(--shape-terciario);
  padding: 1.5rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .price {
  color: var(--title);
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head p {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--text-base);
}



.ph-magnifying-glass {
  font-size: 20px;
}

.content {
  padding: 5rem 10rem;
  margin: 1.5rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.content-line {
  padding: 1.25rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--shape-secundaria);
  border-radius: 5px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  position: relative;
}

.content-line div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content-line p{
  text-transform: capitalize;
}

.content-line p:nth-child(2) {
  color: var(--green-light);
  font-size: 1.25rem;
  line-height: 160%;
}

.content-line p:nth-child(3), .content-line p:nth-child(4){
  color: var(--placeholder);
}

.btn-del{
  font-size: 1.5rem;
  color: white;
  border: none;
  background: transparent;
  width: 2rem;
  cursor: pointer;
}